#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input medium selinux/updategrub || true
db_go

db_get selinux/updategrub
if [ "x$RET" = xfalse ]; then
    db_input critical selinux/install || true
    db_go
    exit 0
fi

grub_file="/etc/default/grub"

if [ -z "$grub_file" ] ; then
    echo "GRUB configuration file not found."
    exit 1
fi
db_set selinux/grub "$grub_file"

db_input low selinux/enforcement || true
db_input low selinux/grub || true
db_go

defopt_trim=`/bin/grep "^GRUB_CMDLINE_LINUX_DEFAULT" $grub_file | /bin/sed -r -e 's/GRUB_CMDLINE_LINUX_DEFAULT="(\s+)?//' -e 's/security=\w+(\s+)?//' -e 's/selinux=[01](\s+)?//' -e 's/(\s+)?"$(\s+)?//'`

defopt="$defopt_trim"
db_get selinux/enforcement
case "$RET" in
    Enforcing)
        defopt="$defopt security=selinux selinux=1 enforcing=1"
    ;;
    Permissive)
        defopt="$defopt security=selinux selinux=1 enforcing=0"
    ;;
    *)
        defopt="$defopt security=selinux selinux=1"
    ;;
esac

db_set selinux/defopt $defopt
db_input low selinux/defopt || true
db_go

db_input critical selinux/reboot || true
db_go
